@charset "UTF-8";

// Addtional Tabs Layouts

.az-tabs {
  &.tab-content {
    .tab-pane {
      display: none;
    }
    .active {
      display: block;
    }
  }
  &.tabbable {
    &:before {
      display: table;
      content: " ";
    }
    &:after {
      display: table;
      content: " ";
    }
  }
  .nav-tabs {
    padding-bottom: 0;
  }
  &.tabs-right .nav-tabs {
    border-bottom: 0;
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
    border-bottom: none !important;
    > li {
      float: none;
      > a {
        background: transparent;
        min-width: 74px;
        margin-right: 0;
        margin-bottom: 3px;
        margin-left: -1px;
        border-radius: 0 4px 4px 0;
      }
    }
    .active > a {
      border-color: #ddd #ddd #ddd #fff;
    }
  }
  &.tabs-left .nav-tabs {
    border-bottom: 0;
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
    border-bottom: none !important;
    > li {
      float: none;
      > a {
        background: transparent;
        min-width: 74px;
        margin-bottom: 3px;
        margin-right: -1px;
        border-radius: 4px 0 0 4px;
      }
    }
    .active > a {
      border-color: #ddd #fff #ddd #ddd;
    }
  }
}