.glazed-builder-profile-form {
  .cke_button_icon {
    vertical-align: text-bottom;
    float: none;
  }
  details {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .form-type-checkbox {
      float:left;
      width: 32%;
      padding: .3%;
    }
    .form-item-all-blocks,
    .form-item-all-views {
      width: 100%;
    }
    fieldset {
      width: 100%;
    }
  }

  .form-item-sidebar {
    width: 100%;
  }
}
