.glazed-builder-profile-form {
  .cke_button_icon {
    vertical-align: text-bottom;
    float: none;
  }
  details {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .form-type-checkbox {
      float:left;
      width: 32%;
      padding: .3%;
    }
  }
}
